:root {
  --hero-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --btn-text-color: #ffffff;
  --header-text-color: #212121;
  --accent-color: #2196F3;
  --header-link-color:#757575;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo-firstpart {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-secondpart {
  color: #000000;
}

.logo-firstpartfooter {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-secondpartfooter {
  color: #FFFFFF;
}

.header-section {
  border-bottom: 1px solid;
  color: #ECECEC;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.mail-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.tell-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon:hover {
  fill: var(--accent-color);
}

.tell-icon:hover {
  fill: var(--accent-color);
}

.contacts-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--header-link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
}

.hero-button {
  display: inline-block;
  margin-top: 30px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  border-radius: 4px;
  border: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 650ms, visibility 650ms;
}

.backdrop.is-hidden .modal {
  transform: skew(120deg) translate(1200px);
  transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 40px 40px 40px 40px;
  transform: skew(0deg);
  transform: translate(-50%, -50%);
  transition: transform 850ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-text-color);
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.check-item {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: #FFFFFF;
}

.modal-check:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 15px;
  color: var(--main-text-color);
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-coment:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-form-coment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  display: block;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  display: flex;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close-icon {
  Fill: currentColor;
}

.form-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: none;
}

.modal-check-link {
  margin-left: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.priorities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.icon-conteiner {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.priorities-title:not(:last-child) {
  margin-right: 30px;
}

.priorities-text:not(:last-child) {
  margin-right: 30px;
}

.priorities-list {
  display: flex;
}

.priorities-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section.specification {
  padding-top: 0px;
}

.specification-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.specification-item {
  position: relative;
  display: flex;
}

.specification-text {
  position: absolute;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.specification-item:not(:last-child) {
  margin-right: 30px;
}

.specification-list {
  display: flex;
  margin-top: 50px;
}

.specification-title {
  text-align: center;
}

.team {
  background-color: #F5F4FA;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #FFFFFF;
}

.team-sociallink-list {
  display: flex;
  justify-content: center;
}

.team-sociallink-item + .team-sociallink-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: white;
}

.team-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  text-align: center;
}

.team-list-profession {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
}

.clients-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link.clients-link:hover, .clients-link.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.conteiner-footer {
  display: flex;
  align-items: baseline;
}

.join-list {
  display: flex;
  margin-top: 20px;
}

.footer-join-part {
  margin-left: 70px;
}

.join-item {
  width: 44px;
  height: 44px;
}

.join-item + .join-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link.footer-social-link:hover, .footer-social-link.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: #FFFFFF;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-link {
  color: var(--main-text-color);
}

.address-section {
  margin-top: 20px;
}

.footer-contacts {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-email-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  resize: none;
  outline: none;
}

.footer-email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: none;
}

.button-send-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer-subscription-part {
  margin-left: 93px;
}

.footer-logo-part {
  flex-grow: 1;
}

.footer-input-part {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */