.logo__firstpart {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.logo__secondpart {
    color: #000000;
}

.logo__secondpart-footer {
    color: #FFFFFF;
}