.section.specification {
    padding-top: 0px;
}
.specification__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.specification__item {
    position: relative;
    display: flex;
        &:not(:last-child){
        margin-right: 30px;
    }
}
.specification__text {
    position: absolute;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:rgba(47, 48, 58, 0.8);
}


.specification__list { 
    display: flex;
    margin-top: 50px;
}


